<h1>Categories/index</h1>


<h2>親カテゴリ</h2>
<% @parent_categories.each do |parent| %>
<p><%= link_to parent.name, category_path(parent.id)  %></p>
    <% parent.children.each do |child| %>
    <p>　　　<%= link_to child.name, category_path(child.id) %></p>
    <% end %>
<% end %>

