<h1>すべてのカテゴリー</h1>
<% @parent_categories.each do |parent| %>
<p><%= link_to parent.name, category_path(parent.id), class: "btn btn-primary" %></p>
    <% parent.children.each do |child| %>
    <%= link_to child.name, category_path(child.id), class: "btn btn-primary" %>
    <% end %>
    <br>
    <br>
    <br>
<% end %>

